<div class="header-inner">
    <div class="container-fluid">
      <nav class="navbar bg-black text-white fixed-top">
        <div class="container-fluid mb-1 d-flex justify-content-between align-items-center display-6 p-2" style="border-bottom: 1px solid white;">
          <a class="navbar-brand" href="/">
            <img src="/h4kigImg.jpg" id="logo" width="50" height="50">
          </a>
          <b style="color: white;"><%= title %></b>
          <a href="/v1/logout" type="button" class="btn me-3">
            <img src="/logout.png" alt="login" id="logo4" width="45" height="40" />
          </a>
        </div>
      </nav>
    </div>
</div>